// Colors
$color-primary:#aeea00;
$color-primary-light: #e4ff54;
$color-primary-dark:#79b700;

$color-secondary-light: #ffd95b;
$color-secondary-dark: #c77800;
$color-secondary: #ffa726;


$color-quad-light:#2998ff;
$color-quad-dark:#5643fa;


$color-white:#fff;

$color-grey-dark:#777;
$color-grey-dark-2:#999;
$color-grey-dark-3: #333;

$color-black:#000;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$default-font-size:16px;